*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #80ED99;
}

button {
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

.keyboard {
  width: max-content;
  display: grid;
  padding: 20px;
  border-radius: 10px;
  background: #C7F9CC;
  color: #22577A;
  grid-template-columns: repeat(31, 25px);
  grid-template-rows: repeat(5, 50px);
  gap: 5px;
}

.key {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid #22577A;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 0 0 #8367c7;
  transition: all 0.2s;
}

.key:hover {
  font-weight: 700;
  color: #f0fff1;
}

.key--general {
  background-color: #57CC99;
  grid-column: span 2;
}

.key--alt,
.key--shift,
.key--enter,
.key--backspace,
.key--ctrl,
.key--tab,
.key--capslock,
.key--win,
.key--arrow,
.key--del {
  background-color: #38A3A5;
}

.key--alt,
.key--ctrl,
.key--win,
.key--arrow,
.key--del {
  grid-column: span 2;
}

.key--ctrl-left {
  grid-column: span 3;
  grid-row: 5;
}

.key--shift,
.key--capslock {
  grid-column: span 4;
}

.key--shift-left {
  grid-column: span 5;
  grid-row: 4;
}

.key--capslock {
  grid-row: 3;
}

.key--tab {
  grid-row: 2;
  grid-column: span 3;
}

.key--enter,
.key--backspace {
  grid-column: span 5;
}

.key--spacebar {
  grid-column: span 14;
  background-color: #57CC99;
}

.active {
  box-shadow: none;
  transform: translate(2px, 2px);
  background-color: #e3c9ff;
}